.rightSideHome {
    display: flex;
    position: fixed;
    flex-direction: column;
    padding-top: 30px;
}

.topProfileRight {
    display: flex;
    justify-content: space-between;
}

.imageDivRightSide {
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.imageRightSideProfile {
    width: 100%;
    border-radius: 100%;
}

.userNameBlock {
    display: flex;
    flex-direction: column;
}

.userNameRightSide {
    font-size: 14px;
    font-weight: 500;
}

.userFullName {
    color: #999999;
    font-size: 13px;
}

.switchBtn {
   gap: 10px;
    color: rgb(33, 163, 229);
    font-weight: 500;
}

.leftRightProfile {
    display: flex;
    gap: 20px;
}

.bottomRightProfile {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
}

.suggestedBlock {
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
}

.followBlockRightSide {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.topProfileRightBottomProfile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}